# Operating System Files

*.DS_Store
Thumbs.db

#Bild Files #

bin
target
build/
.gradle

#Eclipse Project Files #

.classpath
.projact
.settings

# ItelliJ IDEA Files #

*.iml
*.ipr
*.iws
*.idea

# Spring Bootstrap artifacts

dependecy-reduced-pom.xml
READE.html